{% extends "layouts/base.html" %}
{% load static %}
{% load project_custom_template_tags %}
{% block title %} Jobs {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="#">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="#">Triangle</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Jobs</li>
              </ol>
          </nav>
          <h2 class="h4">{{Job}}</h2>
          <p class="mb-0">Overview of Job Details.</p>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
          <a href="#" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modal-form-job">
              <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
              New Job
              
          </a>
          <div class="btn-group ms-2 ms-lg-3">
              <button type="button" class="btn btn-sm btn-outline-gray-600">Share</button>
              <button type="button" class="btn btn-sm btn-outline-gray-600">Export</button>
          </div>
      </div>
  </div>
  
 
<div class="card border-0 shadow table-wrapper table-responsive">
    <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
        <h2 class="h4 mb-0">Job Details</h2>
    </div>
</div>

<div class="card border-0 shadow mb-4">
  <div class="card-body">
      <div class="table-responsive">
          <form method="get">
              <table class="table table-centered table-nowrap mb-0 rounded">
                  <thead class="thead-light">
                      <tr>                          
                        <th class="border-gray-200">Job #</th>
                        <td>
                            <a href="#" class="fw-bold">
                              {{job.job_no}}
                            </a>
                        </td>
                      </tr>
                      <tr> 
                        <th class="border-gray-200">Order Date</th>
                        <td><span class="fw-normal">{{job.date}}</span></td> 
                      </tr>
                      <tr> 
                        <th class="border-gray-200">Color</th>
                        <td><span class="fw-normal">{{job.color}}</span></td> 
                     </tr>	
                     <tr> 				
                        <th class="border-gray-200">Style</th>
                        <td><span class="fw-normal">{{job.style}}</span></td>
                       
                    </tr>	
                     <tr> 
                      
                        <th class="border-gray-200">Party DC #</th>
                        <td><span class="fw-normal">{{job.party_dc_no}}</span></td>
                    </tr>	

                    <tr>
                        <th class="border-gray-200">Job Status</th>
                        {% if job.status.pk == 'OPEN' %}
                        <td><span class="fw-bold text-white bg-warning">{{job.status}}</span></td>
                        {% elif job.status.pk == 'CLOSED' %}
                        <td><span class="fw-bold text-white bg-success">{{job.status}}</span></td>
                        {% else %}
                        <td><span class="fw-bold text-white bg-danger">{{job.status}}</span></td>
                        {% endif %}
                    </tr>
                   
                  </thead>
                  
              </table>
          </form>
      </div>
  </div>
</div>

<div class="card border-0 shadow table-wrapper table-responsive">
    <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
        <h2 class="h4 mb-0">Order Details TEST</h2>
    </div>
</div>

<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="border-gray-200">Order #</th>
                        {% for number, sizes in orders_transposed.items %}
                        {% for size, value in sizes.items %}
                        <th class="border-gray-200">{{size}}</th>
                        {% endfor %}             
                        {% endfor %}  
                        <th class="border-gray-200">Total ORD QTY</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    <tr>
                        {% for number, sizes in orders_transposed.items %}
                            
                        <td>
                            <a href="#" class="fw-bold">
                            {{number}}
                            </a>
                        </td>
                        {% for size, value in sizes.items %}
                        <td><span class="fw-normal">{{value}}</span></td>  
                        {% endfor %}
                        {% endfor %} 

                        <td><span class="fw-normal">{{total_order_quantity.total_quantity}}</span></td>  

                    </tr>  
                                                            
                </tbody>
            </table>
            
        </div>
    </div>
</div>

<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <div class="card border-0 shadow table-wrapper table-responsive">
            <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
                <h2 class="h4 mb-0">Delivery Details TEST</h2>
            </div>
        </div>

        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="border-gray-200">Delivery #</th>
                        <th class="border-gray-200">Delivery Date</th>
                        <th class="border-gray-200">Piece Type</th>                        
                        {% for delivery_size in delivery_sizes %}
                        <th class="border-gray-200">SIZE-{{delivery_size.size__size}}-Qty</th>
                        {% endfor %}


                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    {% for number, sizes in deliverys_transposed.items %}
                    <tr>                                                                        
                            <td>
                                <a href="#" class="fw-bold">
                                {{number}}
                                </a>
                            </td>
                            <td>                         
                                {{delivery_number.date}}                      
                            </td>  
                            <td><span class="fw-normal">{{delivery_number.piece_type__piece_type}}</span></td>  
                            {% for size, value in sizes.items %}
                            <td><span class="fw-normal">{{value}}</span></td>  
                            {% endfor %}                                                       
                    </tr>  
                    {% endfor %}                                       
                </tbody>
            </table>
            
        </div>
    </div>
</div>


<div class="card border-0 shadow table-wrapper table-responsive">
    <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
        <h2 class="h4 mb-0">Order Details</h2>
    </div>
</div>

<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="border-gray-200">Order #</th>
                        {% for order in orders %}
                        
                        <th class="border-gray-200">Size-{{order.size__size}}</th>
                                    
                        {% endfor %}  
                        <th class="border-gray-200">Total ORD QTY</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    <tr>
                        {% for order in orders %}
                            {% if forloop.first %}
                        <td>
                            <a href="#" class="fw-bold">
                            {{order.number}}
                            </a>
                        </td>
                            {% endif %}
                        {% endfor %} 

                        {% for order in orders %} 

                        <td><span class="fw-normal">{{order.total_quantity}}</span></td>  
                        {% endfor %} 

                        <td><span class="fw-normal">{{total_order_quantity.total_quantity}}</span></td>  

                    </tr>  
                                                            
                </tbody>
            </table>
            
        </div>
    </div>
</div>


<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <div class="card border-0 shadow table-wrapper table-responsive">
            <div class="card-header border-gray-100 d-flex justify-content-between align-items-center">
                <h2 class="h4 mb-0">Delivery Details</h2>
            </div>
        </div>

        <div class="card card-body border-0 shadow table-wrapper table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="border-gray-200">Delivery #</th>
                        <th class="border-gray-200">Delivery Date</th>
                        <th class="border-gray-200">Piece Type</th>                        
                        {% for delivery_size in delivery_sizes %}
                        <th class="border-gray-200">SIZE-{{delivery_size.size__size}}-Qty</th>
                        {% endfor %}


                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    {% for delivery_number in delivery_numbers %}
                    <tr>                                                                        
                            <td>
                                <a href="#" class="fw-bold">
                                {{delivery_number.number}}
                                </a>
                            </td>
                            <td>                         
                                {{delivery_number.date}}                      
                            </td>  
                            <td><span class="fw-normal">{{delivery_number.piece_type__piece_type}}</span></td>  
                            {% for delivery_size in delivery_sizes %}
                                {% for delivery in deliverys %}     
                                    {% if delivery_number.number == delivery.number %}                              
                                        {% if delivery.size__size == delivery_size.size__size %}                                                                 
                                        <td>                         
                                            {{delivery.total_quantity}}                      
                                        </td>                                        
                                        
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}                      
                            {% endfor %}                                                        
                    </tr>  
                    {% endfor %}                                       
                </tbody>
            </table>
            
        </div>
    </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
